/* jungle colors */
$kombuGreen: rgba(55, 57, 46, 1);
$blueSapphire: rgba(25, 100, 126, 1);
$emerald: rgba(79, 180, 119, 1);
$deepMossGreen: rgba(63, 102, 52, 1);
$charlestonGreen: rgba(46, 44, 47, 1);

html, body, div {
  background-color: $emerald;
  color:$charlestonGreen;

  /* disables user selection highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
a {
  color:$blueSapphire;

  &:link, &:visited {
    color: $blueSapphire;
  }

  &:hover {
    color:$blueSapphire * 0.8;
  }

  &:active {
    color:$blueSapphire;
  }
}

#monkeysToBuy, #upgrades {
  .purchase {
    cursor: pointer;
    background-color: $deepMossGreen;
    border: 1px solid $charlestonGreen;
    border-radius: 3px;
    padding: .5em 1em;
    margin: 1em;
    color: $emerald;

    &:hover {
      background-color: $deepMossGreen * 0.9;
      border: 1px solid $charlestonGreen * 0.9;
    }

    &:active {
      background-color: $deepMossGreen * 0.8;
    }
  }
}

#beakStrengthHolder {
  width:90%;
  background-color: $deepMossGreen;
  border: 1px solid $charlestonGreen;
  border-radius: 3px;
  height:25px;

  #beakStrengthBar {
    background-color: $deepMossGreen * 0.8;
    height: 23px;
    width:0;
  }
}
